
.section-top{
  margin-bottom: -3.5%;
  margin-top: -1%;
  display: flex;
}

.card-header{
  border-bottom: 2px solid #141412;
}

.round-corners{
  border-radius: 2px;
  margin-bottom: 20px;
}

.sub-paragraph{
  font-size: 75%;
}

.center-text{
  text-align: center !important;
  align-items: center !important;
}

.covid-image{
  position: relative;
  margin: 0 20px;
  animation-name: spinning;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.world-image{
  position: relative;
  margin: 0 20px;
  animation-name: spinning;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: #0CBDB3;
}

.bg-gray{
  background-color: #242424 ;
}

.bg-green{
  background-color: rgb(47, 192, 83) ;
}

.tx-red{
  color: rgb(255, 45, 38) !important; 
}

.tx-green{
  color: rgb(46, 124, 241) !important; 
}

.tx-violet{
  color: rgb(204, 54, 191) !important; 
}

.tx-orange{
  color: rgb(255, 187, 0) !important; 
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0px !important;
  overflow: hidden; 
  width: 100%;
  padding: 1%;
  border: 4px solid #242424;
}
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 1.2rem 0;
    text-align: center; 
    border: 3px solid rgb(20, 20, 18);
    background-color: #242424;
    margin-bottom:-5px;
    font-size: 25px;
    font-weight: 400;
  }
  

  .tabs [class^="tab"] [type="radio"],

  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgb(46, 145, 71);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 99%;
    margin: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
  }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid rgb(53, 190, 87); 
      box-shadow: 0px -5px 7px rgb(53, 190, 87);
    }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 3px solid rgb(47, 192, 83); 
      box-shadow: 0px 5px 7px rgb(47, 192, 83);
      
    }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1;
    }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; 
  }

  .tabs .tab-2 {
    width: 50%; 
  }
  
  .tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%; 
  }
  .tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; 
  }
  .tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; 
  }
  .tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; 
  }
    
    .hospitals-container{
      display: flex;
      color:rgb(47, 192, 83);
      height: 5rem;
      margin-bottom: 1%;
      
    }
    
    .hospital {
      background-color: #242424;
      border-radius: 10px;
      display: flex;
      height: 100%;
      width: 50%;
      margin: 0.5%;
      border: 4px solid #242424;
    }

    .hospital-preview {
      background-color: #141412;
      width: 50%;
      overflow-wrap: break-word;
      align-items: center;
      justify-content: center;
      display: flex;
      border: 4px solid #242424;
    }
    
    .hospital-info {
      width: 50%;
      margin-top: 0.6rem;
    }

    .hospital-block{
      margin-top: 2rem;
      border: 4px solid #242424;
      padding: 1%;
    }

    .chartPie{
      align-items: center;
      align-content: center;
      justify-content: center;
      display: flex;
    }

    .sub-heading{
      width: 100%;
      height: 3rem;
      
      text-align: center;
      padding: 0rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 0;
      margin-bottom: 1rem;
    }

    .main-heading{
      width: 100%;
      height: 5rem;
      text-align: center;
      padding: 0rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 2rem;
      margin-bottom: -1rem;
    }

    .footer{
      width: 100%;
      height: 4rem;
      text-align: center;
      padding: 0.55rem;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
    }

    .chart-phills{
      display: flex;
      margin-top: 3rem;
      margin-bottom: -2rem;
    }

    .chart-margin{
      margin-right: 0.5rem;
    }